<div class="card">
      <div class="datetime-field">
          <label class="filterText">Date</label>
          <div class="control">
              <input class="date-picker" id="dateStart" name="date" type="date">
          </div>

          <label class="separator">-</label>
          <div class="control">
              <input class="date-picker" id="dateEnd" name="date" type="date">
          </div>
          <button class="search button" type="submit" (click)="search()">Search</button>
      </div>
</div>
<ngx-charts-pie-chart
      [view]="[1000,400]"
    
      [results]="pieChartData"
      [gradient]="gradient"
      [legend]="showLegend"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      >
</ngx-charts-pie-chart>