@import '../../../../main-styles.scss';

.main-container {
    display: flex;
    flex-direction: column;

    max-width: 700px;

    margin: auto;
    padding-top: 50px;
}

.box.is-menu{
    height: 190px;
}

.column{
    padding: 0;
    padding-left: 20px;
}